# Secrets and tools
secrets.txt
git-filter-repo
nexbus-7f898-firebase-adminsdk-fbsvc-0378ed7a07.json
**/nexbus-7f898-firebase-adminsdk-fbsvc-0378ed7a07.json


# Dependencies
node_modules/

# Firebase credentials - NEVER commit this
serviceAccountKey.json
**/serviceAccountKey.json

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.expo/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude Code memory
.claude/

# Logs
*.log
npm-debug.log*

# React Native
*.jks
*.keystore
